* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Playfair Display", serif;


}

body {
    background-color: #14236e;
    padding: 1.2rem 0 1.2rem 0rem;


}

main {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

/*  */

.popup-img {
    position: fixed;
    width: 75rem;
    height: auto;
    background-color: rgb(78, 72, 167);
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1.2rem;
    box-shadow: 10px 10px 20px black;
    margin: 8% 30%;
    z-index: 200;
    gap: 0.4rem;

}

.popup-img img {
    padding: 1rem;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px 0px rgba(208, 203, 207, 0.622);

}

.close-btn {
    float: right;
    width: 4.2rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.close-btn i {
    font-size: 2rem;
    background-color: transparent;
}

.close-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 13, 83);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid rgb(20, 20, 20);

}


/*  */
.hero {
    width: 140rem;
    height: auto;
    background-color: black;
    margin: auto;
    border-radius: 1rem;
    background: url(/img/dnjpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 40px black;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.navbar {
    display: flex;
}

.top-ten {
    width: 30%;
    height: auto;
}

.logo {
    width: 70%;
    height: auto;

}

.top-ten p {
    width: 50rem;
    max-width: 100%;
    border-top-right-radius: 2rem;
    box-shadow: 9px 1px 10px 9px rgb(115, 116, 117);
    font-size: 3rem;
    font-family: "Lobster", "sans-serif";
    padding: 1rem;
    color: white;
    text-align: right;
}

.right {
    width: 100%;
    height: max-content;
    padding-top: 5rem;
    display: flex;
    gap: 5rem;

}

.right ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.right li {
    list-style: none;

}

.right li a {
    text-decoration: none;
    font-size: 2rem;
    border: none;
    color: #ffffff;
    padding: 1rem 2.5rem 1rem 2.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.right span {
    font-size: 2.3rem;
    letter-spacing: -1.2px;
    font-weight: 500;

}

.menut img {
    display: inline-block;
    transform: rotate(0deg);
}

.menut img:hover {
    animation: spin 3s linear infinite;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}







/* YENİ ÇIKANLAR CONTAİNER */

.new-product {
    width: 30rem;
    height: 37rem;
    background: linear-gradient(205deg,
            #020202,
            transparent);
    border: 0.3rem solid #14236e;
    box-shadow: 1px 1px 3px 1px white;
    background-color: transparent;
    border-radius: 1rem;
    margin-left: 1.6rem;
    padding-top: 1rem;
}

.new-product-text {
    width: 100%;
    text-align: center;
}

.new-product-text p {
    font-size: large;
    font-family: " Bodoni Moda";
    font-weight: 700;
    font-style: italic;
    height: auto;
    padding: 1rem;
    color: white;
}

.new-product-img {
    width: 22rem;
    height: 30rem;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;




}


/*  YENi çıkanlar */

.imgHype {
    width: 25rem;
    height: auto;
    overflow: hidden;
    position: absolute;
    left: -1.5rem;
    transition: opacity 4s ease-in-out;
    opacity: 0;
    border: 0.2rem dotted #ffffff;
    box-shadow: 2px 0px 10px 5px rgb(240, 108, 64);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: grid;
    gap: 1rem;
}

.imgHype img {

    width: 100%;
    height: auto;
    height: auto;
    object-fit: cover;
}

.imgHype.active {
    opacity: 1;
}

.imgHype p {
    font-size: 2.3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 73, 69);
    font-family: "Bodoni Moda", "sans-serif";
    font-weight: 500;
}



/*  middle  */


.middle {
    width: 130rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #80b9c4;
    margin: auto;
    background: url(/img/danicupsdesign.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 1rem;
    border: 3px solid #858eba;
    padding-left: 1rem;



}

.middle-left {
    width: 37%;
    height: auto;
    /* background-color:antiquewhite; */
    padding: 5rem;
    box-shadow: 1px 0px 30px 1px rgb(238, 230, 166);
}

.middle-left p {
    color: #ffffff;
    font-size: 2.2rem;
    text-align: center;
    text-transform: capitalize;
    line-height: 4.2rem;
    letter-spacing: 0.2rem;
    font-family: "Lilita", "sans-serif";
    font-weight: 300;
}

.middle-right {
    width: 23%;
    height: auto;
    background-color: rgb(31, 14, 95);
    border-right: 1px dotted white;
    box-shadow: -5px 0px 30px 1px rgb(238, 230, 166);

}


.dani-movement {
    width: 100%;
    height: 100%;
    margin: auto;
    /* background-color: rgba(49, 5, 5, 0.527); */
    display: flex;
    gap: 3rem;
    padding: 10rem 1rem 10rem 1rem;
    border-bottom: 2px solid rgb(30, 19, 15);
    border-radius: 1rem;
}


.carousel {

    width: 80rem;
    height: auto;
    margin: auto;

    display: flex;

}

.text-carousel {
    width: 50%;
    height: auto;
    float: left;
    padding: 2rem;
}

.text-carousel p {
    font-size: 2.2rem;
    color: rgb(252, 252, 252);
    text-shadow: 10px 10px 20px black
}

.card {
    flex: 1;
    height: 30rem;

    object-fit: cover;
    border-radius: 1.6rem;
    transition: all 1s ease-in-out;
    opacity: 1;
    display: block;
    /* padding: 0rem; */

}

/* ORTA */
.card.center-img {
    z-index: 3;
    opacity: 1;
    transform: translate(0%, 0%) scale(1.3);
}

/* SOL */
.card.left-img {
    z-index: 2;
    transform: translate(-10%, 0%) scale(0.9);
}

/* SAĞ */
.card.right-img {
    z-index: 2;
    transform: translate(10%, 0%) scale(0.9);
}

/* Product Section */
.product {
    width: 130rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    box-shadow: 0px 10px 40px black;
}

.coffee-menu-area,
.dessert-menu-area {
    width: 48%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-dessert {
    text-align: center;
    margin-bottom: 1rem;
}

.btn-dessert a {
    text-decoration: none;
    font-size: 2rem;
    color: #14236e;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.btn-dessert a:hover {
    background-color: #e0e0e0;
}

.menu-container {
    max-height: 400px;
    overflow-y: auto;
}

.menu-category {
    margin-bottom: 2rem;
}

.menu-category h3 {
    font-size: 1.8rem;
    color: #14236e;
    margin-bottom: 1rem;
    border-bottom: 2px solid #14236e;
    padding-bottom: 0.5rem;
}

.menu-category ul {
    list-style-type: none;
    padding-left: 0;
}

.menu-category li {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    border-left: 4px solid #14236e;
}




/* Coffee bg */
.coffee-details {
    width: 140rem;
    height: auto;
    border: 1px solid rgb(66, 66, 66);
    box-shadow: 1px 1px 3px lightseagreen;
    position: relative;
    background: linear-gradient(rgba(81, 50, 4, 0.3), rgba(95, 60, 10, 0.3)), url(/img/qqq.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10rem auto 0 auto;
    border-radius: 1rem;
}

.coffee-details-h{
    width: 50rem;
    height: auto;
    /* background-color: #020202; */
    height: auto;
    float: right;
}
.coffee-details-h h1 {

font-size: 4rem;
color: #000000;
text-align: left;

}

.coffee-bg {
    width: auto;
    height: auto;
    /* background-color: #020202; */
}

.coffee-bg :first-child {
    position: relative;
    left: 75rem;
    top: 15rem;
    width: 15%;
    z-index: 10;
}

.coffee-bg :last-child {

    width: 10%;
    height: auto;
    /* z-index: 120; */
    position: relative;
    top: 14rem;
    left: 50rem;
    transform: rotate(195deg);
}

/*  Shape part */
.custom-shape-divider-bottom-1767394814 {
    width: 100%;

    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1767394814 svg {
    width: calc(127% + 1.3px);
    height: 210px;
}

.custom-shape-divider-bottom-1767394814 .shape-fill {
    fill: #F6F0D7;
}

/*  */


.contuine {
    width: 100%;
    height: auto;
    background-color: #F6F0D7;
    padding: 3rem;
}

.logo-coffee{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-right: 4rem;
}
.logo-coffee img{
    width: 15rem;
    
}


.coffee-nav {
    width: 70%;
    height: 5rem;
    background-color: #02071d;
    margin: auto;
    border: 2px solid white;
    box-shadow: 0px 2px 0px 8px #02071d;
    display: flex;


}

.coffee-nav-text {
    width: 33%;
    height:auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.coffee-nav-text p {
    height: auto;
    font-size: 2rem;
    color: white;
    
}
.coffee-nav-img {

    width: 33%;
    height: auto;
}

.coffee-nav-img img {
    width: 100%;
    height: auto;
}



/*  Kahve Metinleri  - Coffee Detail Container*/

.coffee-details-text-icon {
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #02071d;
    gap: 24rem;
    padding: 2rem;
    
}
.right-area, .left-area{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;

}
.right-area .icons{
   
 justify-content: flex-end;
}

.icons{
    width: auto;
    height: 8rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: center;
   box-shadow: 1px 1px 10px rgb(255, 255, 255);
    /* background-color: #e3a258; */
    border-radius: 1rem;
}

.icons img{

    width: 7rem;
    height:auto;
    padding: 2rem;
    background: #e3e3e3;
    /* border: 10px solid rgb(200, 117, 29); */
clip-path: polygon(49% 0, 95% 25%, 50% 100%, 5% 25%);
}

.icons p {
    width: 70%;
    display: flex;
    align-items: center;
    color: rgb(233, 223, 199);
    font-size: 2rem;
    
}



footer {
    width: 100%;
    height: auto;
    background-color: #14236e;
    display: flex;
}